{%extends 'core/base.html'%}
{% block title %} Contacto {% endblock %}
{% load static %}
{% block content %} 
<div class="all-content">
    <section id="contact">
      <div class="container">
        <div class="row">
          <div class="col-md-7">
            <div class="heading3">¿Tienes una duda? <span>Contactanos</span></div>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. A, expedita labore!
              <br>ipsum dolor sit amet consectetur
            </p>
            <input type="text" class="form-control"placeholder="Nombre"aria-label="default input example"><br>
            <input type="text" class="form-control"placeholder="Apellido"aria-label="default input example"><br>
            <input type="text" class="form-control"placeholder="Email"aria-label="default input example"><br>
            <input type="text" class="form-control"placeholder="Telefono"aria-label="default input example"><br>
            <input type="text" class="form-control"placeholder="Tu mensaje"aria-lebel="default input example"><br>
            <button id="contact-btn">Enviar</button>
          </div>
          <div class="col-md-5"id="col">
            <h1>Info</h1>
            <p><i class="fa-regular fa-envelope"></i>   example@gmail.com</p>
            <p><i class="fa-solid fa-phone"></i>   3881234567</p>
            <p><i class="fa-solid fa-building-columns"></i>   Facultad de Ingeniería</p>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illo dolore praesentium quaerat ex esse voluptatem. Quod minima voluptates minus distinctio soluta quia eos laboriosam ipsum reprehenderit ad.</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <br>
  <br>
 {%endblock%}